name: Build and Push Docker Image

on:
  push:
    branches:
      - master

permissions:
  contents: read

env:
  REGISTRY: hub.humanz.moe
  IMAGE_NAME: exporter/nfs4-exporter

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        # This action registers QEMU binaries with the emulation cores, allowing
        # Docker to run images for different architectures.
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        # Buildx is a Docker CLI plugin for extended build capabilities,
        # including multi-platform builds.
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
