name: Build and Push Docker Image

on:
  push:
    branches:
      - master

permissions:
  contents: read

env:
  REGISTRY: hub.humanz.moe
  IMAGE_NAME: exporter/nfs4-exporter

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
